html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #ca4d36;
}
a {
    text-decoration: none;
}

p {
    margin: 0;
}

.bm-burger-button {
    display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #641a1f;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #fef2e9;
}

.not-supported {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: #ca4d36;
}

.not-supported-text {
    width: 80%;
    font-size: 45px;
    text-align: center;
    color: #fef2e9;
}
