html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #ca4d36;
}
a {
    text-decoration: none;
}

p {
    margin: 0;
}

.bm-burger-button {
    display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #641a1f;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #fef2e9;
}
